
@font-face {
    font-family: Vazirmatn;
    src: url('/Content/All/Font/Vazir/Vazirmatn-Thin.woff2') format('woff2'),url('/Content/All/Font/Vazir/Vazirmatn-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Vazirmatn;
    src: url('/Content/All/Font/Vazir/Vazirmatn-ExtraLight.woff2') format('woff2'),url('/Content/All/Font/Vazir/Vazirmatn-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Vazirmatn;
    src: url('/Content/All/Font/Vazir/Vazirmatn-Light.woff2') format('woff2'),url('/Content/All/Font/Vazir/Vazirmatn-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Vazirmatn;
    src: url('/Content/All/Font/Vazir/Vazirmatn-Regular.woff2') format('woff2'),url('/Content/All/Font/Vazir/Vazirmatn-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Vazirmatn;
    src: url('/Content/All/Font/Vazir/Vazirmatn-Medium.woff2') format('woff2'),url('/Content/All/Font/Vazir/Vazirmatn-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Vazirmatn;
    src: url('/Content/All/Font/Vazir/Vazirmatn-SemiBold.woff2') format('woff2'),url('/Content/All/Font/Vazir/Vazirmatn-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Vazirmatn;
    src: url('/Content/All/Font/Vazir/Vazirmatn-Bold.woff2') format('woff2'),url('/Content/All/Font/Vazir/Vazirmatn-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Vazirmatn;
    src: url('/Content/All/Font/Vazir/Vazirmatn-ExtraBold.woff2') format('woff2'),url('/Content/All/Font/Vazir/Vazirmatn-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Vazirmatn;
    src: url('/Content/All/Font/Vazir/Vazirmatn-Black.woff2') format('woff2'),url('/Content/All/Font/Vazir/Vazirmatn-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}


